@import '../util';
@import '../colors';

@mixin projects-list {
  @include full-screen;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-justify-content: flex-start;

  header {
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    text-align: center;

    padding-top: 20px;
    height: 80px;

    background-color: $green;
    color: $white;

    .title {
      margin: 0;
      padding: 0;
      -webkit-flex: 4 0px;
    }

    button {
      i { height: 100%; }

      font-family: 'Quicksand', sans-serif;
      font-size: 18px;
      font-weight: 700;
      -webkit-appearance: none;
      -webkit-flex: 1 0px;
      color: inherit;
      border: 0;
      padding: 0 20px;
      margin: 0;
      line-height: 60px;
    }
  }

  .search-bar {
    text-align: center;
    height: 120px;
    line-height: 120px;

    border-bottom: 1px $medium-light-grey solid;

    .search-form {
      background-color: $light-grey;
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
      border: $light-grey 1px solid;
      -webkit-appearance: none;
      height: 40px;
      width: 55%;
      font-size: 15px;
      padding-left: 20px;
      border-right: 0;
      margin-right:0;
    }

    .search-button {
      width: 23%;
      height: 50px;
      font-size: 15px;
      background-color: $green;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
      border: $medium-light-grey 1px solid;
      color: $white;
      font-weight: bold;
      margin-left: -5px;
    }
  }

  .num-items { padding: 25px 25px 15px 25px; }

  .search-results {
    -webkit-flex: 1 0px;
    overflow: scroll;
  }

  .results {
    height: 410px;

    ul {
      list-style: none;
      padding: 0 25px;
    }

    li {
      display:block;
      margin: 5px 0;
      padding: 20px 13px;
      border-radius: 5px;

      &:active {
        background-color: $green;
        color: white;
      }
    }

    .image {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: $medium-light-grey;
      float: left;
    }

    .result-details {
      margin-left: 85px;
      .title { font-weight: bold; }
    }
  }
}
