@mixin projects-list {
  .header {
    background-color: #12C895;
    height: 50px;
    ul {
      list-style: none;
      padding-top: 13px;
      li { 
        display: inline-block;
        width: 120px;
        color: white;
        &.title {
          font-weight: bold;
        }
      }
    } 
  }
}
