@import 'header';
@import '../util';
@import '../colors';

@mixin projects-list {
  #projects_list { @include _projects-list; }
}

@mixin _projects-list {
  height: 100%;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: stretch;
  -webkit-justify-content: flex-start;


  .search-bar {
    text-align: center;
    height: 120px;
    line-height: 120px;

    border-bottom: 1px $medium-light-grey solid;

    .search-form {
      background-color: $light-grey;
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
      border: $light-grey 1px solid;
      -webkit-appearance: none;
      height: 40px;
      width: 55%;
      font-size: 15px;
      padding-left: 20px;
      border-right: 0;
      margin-right: 0;
    }

    .search-button {
      width: 23%;
      height: 50px;
      margin-left: -5px;

      background-color: $green;

      color: $white;
      font: normal normal 700 16px 'Quicksand' sans-serif;

      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
      border: $medium-light-grey 1px solid;
    }
  }

  .num-items { padding: 25px 25px 15px 25px; }

  .search-results {
    -webkit-flex: 1 0px;
    overflow: scroll;
  }

  .results {
    height: 410px;

    ul {
      list-style: none;
      padding: 0 25px;
    }

    li {
      display:block;
      margin: 5px 0;
      padding: 20px 13px;
      border-radius: 5px;

      &:active {
        background-color: $green;
        color: white;
      }
    }

    .image {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background-color: $medium-light-grey;
      float: left;
    }

    .result-details {
      margin-left: 85px;
      .title { font-weight: bold; }
    }
  }
}
