@import '../colors';
@import '../util';

@mixin sign-in {
  #sign_in { @include _sign-in; }
}

@mixin _sign-in {
  @include full-screen;

  background-color: $dark-blue;
  text-align: center;
  color: $white;

  a {
    font-family: 'Quicksand', sans-serif;
    color: $green;
    text-decoration: none;
    font-weight: 500;
  }

  padding: 5%;

  h1, h5 {
    margin: 40px 0;
  }

  fieldset {
    border: 0;
    padding: 0;
    padding-top: 10px;
  }

  input {
    box-sizing: border-box;
    padding-left: 20px;
    border: 0;
    border-radius: 40px;
    height: 40px;
    width: 100%;
    margin: 15px 0;
  }

  button {
    @include button;
    width: 100%;
  }

  footer {
    position: absolute;
    bottom: 10%;
    left:0;
    width: 100%;
    border-top: solid 1px $white;
  }
}
