@import '../colors';
@import '../util';

@mixin sign-in {
  @include full-screen;

  background-color: $dark-blue;
  text-align: center;
  color: $white;

  a {
    font-family: 'Quicksand', sans-serif;
    color: $green;
    text-decoration: none;
    font-weight: 500;
  }

  .main-container {
    padding-top: 50px;
    height: 80%;
    width: 100%;


    h1, h2 {
      margin: 15px 0;
      font-family: 'Quicksand', sans-serif;
    }

    fieldset {
      border: 0;
    }

    input {
      border: 0;
      border-radius: 40px;
      height: 40px;
      width: 80%;
      margin: 15px 0;
    }
  }

  footer {
    border-top: solid 1px $white;
  }
}
