@import '../colors';
@import '../util';

@mixin validation {
  #validation_form { display: none; }
  .validation-header { 
    ul { 
      list-style: none;
      li {
        display: inline;
        &.title {
          font-size: 16px;
          font-weight: bold;
        }
        &.coordinates {
          float: right;
          margin-right: 30px;
        }
      }
    }
  }   
  .validators {
    ul { list-style: none; }
  }
} 
