@font-face {
  font-family: "Quicksand";
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Quicksand-Light.ttf');/* relative path from the css file */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Quicksand-Regular.ttf');/* relative path from the css file */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Quicksand-Bold.ttf');/* relative path from the css file */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf');/* relative path from the css file */
}

@import 'components/sign_in';
@import 'components/projects_list';

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html, body {
  margin-top: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 22px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 400;
}

small {
  font-size: 12px;
  font-weight: 400;
}


#sign_in { @include sign-in; }
#projects_list { @include projects-list; }
