@font-face {
  font-family: "Quicksand";
  src: url('../fonts/Quicksand-Regular.ttf');/* relative path from the css file */
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf');/* relative path from the css file */
}

@import 'components/sign_in'; 
@import 'components/projects_list';

html, body {
  font-family: 'Open Sans', sans-serif;
}

#sign_in { @include sign_in; }
#projects_list { @include projects_list; }
