@import 'fonts';
@import 'components/sign_in';
@import 'components/projects_list';
@import 'components/navigation';

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html, body {
  margin-top: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

@include sign-in;
@include projects-list;
@include navigation;
