<button data-layer-id="simS5seriesForAirQualityEuro/co_conc">
  <img src="dist/img/vegetation.svg" alt="">
  <p>CO 2</p>
</button>
<button data-layer-id="simS3seriesLaiGlobal/lai">
  <img src="dist/img/vegetation.svg" alt="">
  <p>Leaf-Area</p>
</button>
<button>
  <img src="dist/img/marine.svg" alt="">
  <p>Marine</p>
</button>
<button>
  <img src="dist/img/landcover.svg" alt="">
  <p>Reflectance</p>
</button>
