<div id="navigation">
  <div id="map"></div>

  <div id="validation_form"></div>
  <div class="validation-buttons">
    <button class="validation-button">CANCEL</button>
    <button class="validation-button">VALIDATE</button>
  </div>

  <button class="layers-button">LAYERS</button>
  <div class="layers-toolbox"></div>
</div>
