<div id="navigation">
  <div id="map-wrapper">
    <div id="map"></div>
  </div>

  <div id="validation_form"></div>
  <div class="validation-buttons hidden">
    <button class="validation-button cancel-button">CANCEL</button>
    <button type="submit" form="validators" class="validation-button">VALIDATE</button>
  </div>

  <button class="layers-button">LAYERS</button>
  <div class="layers-toolbox"></div>
</div>
