<div id="projects_list">
  <div class="search-bar">
    <input type="text" class="search-form" />
    <button type="button" class="search-button">Search</button>
  </div>
  <div class="search-results">
    <div class="num-items">6 search results</div>
    <div class="results">
      <ul>
        <li data-project-id="1">
          <div class="image image-1"></div>
          <div class="result-details">
            <p class="title">Saudi Arabia Mangroves</p>
            <p class="description">Detection of Mangroves in Arabian hotspots</p>
          </div>
        </li>
        <li data-project-id="2">
          <div class="image image-2"></div>
          <div class="result-details">
            <p class="title">Soil Moisture in West African</p>
            <p class="description">Soil analysis in strategic cultivation zones</p>
          </div>
        </li>
        <li data-project-id="3">
          <div class="image image-3"></div>
          <div class="result-details">
            <p class="title">Ice Shrinking Mission</p>
            <p class="description">Refined in-situ research for ice shrinking</p>
          </div>
        </li>
        <li data-project-id="4">
          <div class="image image-4"></div>
          <div class="result-details">
            <p class="title">Air Pollution in Cambridge</p>
            <p class="description">Research on the importance of bikers in Cambridge, UK</p>
          </div>
        </li>
        <li data-project-id="5">
          <div class="image image-5"></div>
          <div class="result-details">
            <p class="title">Betullae's role in Cambridge</p>
            <p class="description">description...a long description...even longer</p>
          </div>
        </li>
        <li data-project-id="6">
          <div class="image image-6"></div>
          <div class="result-details">
            <p class="title">Cloud coverage</p>
            <p class="description">description...a long description...even longer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
