<div id="projects_list">
  <div class="header">
    <ul>
      <li class="menu">Menu</li>
      <li class="title">biome</li>
      <li class="edit"></li>
    </ul>
  </div>
  <div class="search-bar">

  </div>
  <div class="search-results">
  </div>
</div>
