<div id="projects_list">
  <div class="search-bar">
    <input type="text" class="search-form" />
    <button type="button" class="search-button">Search</button>
  </div>
  <div class="search-results">
    <div class="num-items">6 search results</div>
    <div class="results">
      <ul>
        <li>
          <div class="image"></div>
          <div class="result-details">
            <span class="title">Mangroves</span><br />
            <span class="description">description...a long description...even longer</span>
          </div>
        </li>
        <li>
          <div class="image"></div>
          <div class="result-details">
            <span class="title">Soil Moisture</span><br />
            <span class="description">Description...a long description...the longest possible</span>
          </div>
        </li>
        <li>
          <div class="image"></div>
          <div class="result-details">
            <span class="title">Mangroves</span><br />
            <span class="description">description...a long description...even longer</span>
          </div>
        </li>
        <li>
          <div class="image"></div>
          <div class="result-details">
            <span class="title">Mangroves</span><br />
            <span class="description">description...a long description...even longer</span>
          </div>
        </li>
        <li>
          <div class="image"></div>
          <div class="result-details">
            <span class="title">Mangroves</span><br />
            <span class="description">description...a long description...even longer</span>
          </div>
        </li>
        <li>
          <div class="image"></div>
          <div class="result-details">
            <span class="title">Mangroves</span><br />
            <span class="description">description...a long description...even longer</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
