<div id="sign_in">
  <h1>biome</h1>
  <p>Making research better with people driven data collection</p>
  <form id="signup-form" action="">
    <h5>Please sign in</h5>

    <fieldset>
      <input placeholder="Email Address" name="email" id="email" type="email">
      <input placeholder="Password" name="password" id="password" type="password">
    </fieldset>

    <a href="#">Forgot password?</a>

    <button type="submit">Sign in</button>
  </form>
  <footer>
    <p>Don't have an account? <a href="#">Sign up</a></p>
  </footer>
</div>
