<div class='validation-header'>
  <ul>
    <li class='title'>Validation</li>
    <li class='coordinates'>Coordinates</li>
  </ul>
</div>
<div class='validators'>
  <ul>
    <form id='validators'>
      <li>
        <p class='name'>Health</p>
        <select class='values'>
          <option>Excellent</option>
          <option>Good</option>
          <option>Bad</option>
          <option>Dead</option>
        </select>
      </li>
      <li>
        <p class='name'>Health</p>
        <select class='values'>
          <option>Excellent</option>
          <option>Good</option>
          <option>Bad</option>
          <option>Dead</option>
        </select>
      </li>
      <li>
        <p class='name'>Health</p>
        <select class='values'>
          <option>Excellent</option>
          <option>Good</option>
          <option>Bad</option>
          <option>Dead</option>
        </select>
      </li>
      <li>
        <p class='name'>Health</p>
        <select class='values'>
          <option>Excellent</option>
          <option>Good</option>
          <option>Bad</option>
          <option>Dead</option>
        </select>
      </li>
      <li>
        <p class='name'>Health</p>
        <select class='values'>
          <option>Excellent</option>
          <option>Good</option>
          <option>Bad</option>
          <option>Dead</option>
        </select>
      </li>
      <br>
      </form>
  </ul>
</div>
